*{
    box-sizing: border-box;
}

body{
    margin: 20px 0 0 0;
    padding: 0;
    font-family: Myriad Pro, sans-serif;
    overflow-x: hidden;
}

input:focus{
    outline: none;
}

input:target{
    color: #A91B0D;
}

a{
    text-decoration: none;
    color: #040301;
}

header{
    height: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #E4E4E4;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.slide-bar{
    width: 100%;
    height: 270px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.slide-bar::-webkit-scrollbar{
    display: none; /* Chrome, Safari, Opera */
}

.meal{
    width: 250px;
    height: 250px;
    margin-right: 50px;
    box-shadow: 8px 8px 8px #CCCCCC ;
    border-radius: 25px;
}

.feed-image{
    width: 250px;
    height: 60%;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.feed-details{
    width: 100%;
    height: 40%;
    padding-top: 10px;
    display: flex;
}

.avatar-feed{
    margin-left: 10px;
}

.meal-title{
    margin: 0 0 0 10px;
    font-weight: normal;
}

.iconPeople{
    width: 34px;
    height: 24px;
    background-image: url("../icons/reconnect.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: invert(16%) sepia(42%) saturate(5466%) hue-rotate(353deg) brightness(93%) contrast(100%);
    z-index: -1;
}

.guests{
    display: flex;
    align-items: center;
    margin: 0 0 0 120px;
}

.amoutOfGuests{
    color: #A91B0D;
    font-size: 20px;
    margin-right: 5px;
}

.content{
    margin-left: 7%;
    margin-bottom: 50px;
}

.content-line{
    padding-left: 7%;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: dashed 4px #E4E4E4;
}

h2{
    color: #A91B0D;
}

.search{
    width: 93%;
    padding-left: 3%;
    height: 40px;
    background-color: #E4E4E4;
    border: none;
    border-radius: 10px;
    background-image: url("../icons/Icon-search.png");
    background-repeat: no-repeat;
    background-position: 1% 50%;
    font-size: 20px; 
}

#home{
    width: 43px;
    height: 33px;
}

#reconnect{
    width: 38px;
    height: 27px;
}

#profile{
    width: 34px;
    height: 34px;
}

.nav-item{
    width: 60px;
    height: 60px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.nav-title{
    margin: 0 0 0 0;
    color: black;
    font-size: 18px;
}

.filter{
    color: #A91B0D;
    text-decoration: underline;
    position: absolute;
    right: 7%;
    top: 100px;
}

.whiteSpace{
    height: 100px;
}

.big{
    width: 100px;
    height: 100px;
}

.medium{
    width: 75px;
    height: 75px;
}

.small{
    width: 40px;
    height: 40px;
}

.centered{
    display: flex;
    justify-content: center;
    width: 93%;
}

.button{
    width: 265px;
    height: 50px;
    background-color: #A91B0D;
    color: #FDFFF5;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
    padding-top: 16px;
}

.form-button{
    padding-top: 0;
    border: none;
    font-size: 16px;
}

.form-button-align{
    width: 100%;
}

.form-input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
}

.form-text{
    height: 160px;
}

.chat{
    border-top: #E4E4E4 dashed 4px;
    width: 100%;
    padding: 30px 8% 30px 8%;
    display: flex;
    align-items: center;
}

.reconnect-avatar{
    margin-right: 40px;
}

.reconnect-details{
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: -20px 0 0 0;
    padding: 10px 0 0 15%;
    background-color: #FDFFF5;
    box-shadow: 5px 5px 5px #CCCCCC ;
}

.chat-avatar{
    margin-right: 20px;
}

.chat-username{
    margin-top: 10px;
}

.chat-reconnect{
    width: 30px;
    height: 30px;
}

.chat-icon{
    position: absolute;
    right: 10%;
    margin-top: -90px;
}

.chat-footer{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #E4E4E4;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.chat-footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}

.chat-form{
    width: 60%;
}

.chat-input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    padding-left: 10px;
    background-image: url("../icons/Icon-smile.svg");
    background-repeat: no-repeat;
    background-position: 99% 50%;
}

.red{
    color: #A91B0D;
}

.detail-image{
    width: 100%;
    height: 300px;
    margin-top: -20px;
}

.meal-details{
    border-bottom: black solid 1px;
}

.bottom{
    position: absolute;
    bottom: 120px;
}

#signUp-button{
    width: 100%;
    margin-left: -7%;
}

.floating-icons{
    position: absolute;
    top: 30px;
    margin-left: 4%;
}

.floating-icons-meal{
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 30px;
    height: 30px;
}

.right{
    right: 4%;
}

.meal-avatar{
    position: absolute;
    top: 275px;
    right: 10%;
}

#edit-profile{
    background-color: #E4E4E4;
    color: #040301;
    margin-bottom: 10px;
}

.active img{
    filter: invert(16%) sepia(42%) saturate(5466%) hue-rotate(353deg) brightness(93%) contrast(100%);
}

.active p{
    color: #A91B0D;
}

.meal-form{
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile{
    width: 100%;
    border-bottom: solid 1px #040301;
    margin-top: 50px;
}

.profile-heading{
    width: 93%;
    display: flex;
    justify-content: space-between;
}

.ratings{
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-meals{
    display: flex;
    flex-wrap: wrap;
    width: 93%;
}

.profile-meal{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    height: 250px;
    margin-right: 30px;
}

.profile-meal-title{
    margin: 10px 0 10px 0;
}

.profile-icon{
    width: 30px;
    height: 30px;
}

.extraProfile{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-right: 7%;
}

.rating{
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.own-meals{
    border-bottom: #040301 solid 1px;
}

.meal-image{
    width: 100%;
    height: 150px;
}

.bio{
    width: 93%;
}

.pop-up{
    display: none;
    position: fixed;
    justify-content: center;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 55%;
    background-color: #FDFFF5;
    z-index: 2;
    padding-top: 50px;
    padding-left: 7%;
}

#annulation{
    margin-left: -2%;
}

.annulation{
    margin-top: 5px;
}

#confirm-signUp-meal{
    background-color: #007D00;
    margin-top: 50px;
    margin-left: -2%;
}

.guestsList{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.guestItem{
    margin-right: 10px;
}

.guestsList-meal{
    position: absolute;
    top: 475px;
    right: 10%;
}

.review{
    
    border-bottom: #E4E4E4 dashed 3px;
}

.review-title{
    margin-left: 7%;
}

.review-author{
    margin-right: 10px;
}

.review-content{
    display: flex;
    align-items: center;
    height: 130px;
    margin-left: 7%;
}

.review-header{
    display: flex;
    align-items: center;
}

.review-icon{
    width: 24px;
    height: 24px;
}

.review-rating{
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.review-avatar{
    margin-right: 10px;
}

.review-text{
    margin: 0 0 0 0;
}

.profile-more{
    font-size: 18px;
    margin: 40px 0 30px 7%;
    width: 86%;
    align-items: center;
}

.profile-more-icon{
    width: 20px;
    height: 20px;
    margin: -3px 0 0 10px;
}

#welcome-bodyf{
    overflow: hidden;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.welcome h2{
    color: #040301;
}

.welcome-logo{
    margin-top: 70px;
}

.welcome-q{
    display: flex;
    align-items: center;
}

.welcome-q p{
    margin-right: 5px;
}

.welcome-q a{
    text-decoration: underline;
}

.welcome-bg{
    position: fixed;
    z-index: -1;
}

#spoon{
    top: -70px;
    right: -80px;
}

#knife{
    bottom: 20px;
    right: -50px;
}

#fork{
    bottom: -50px;
    left: -90px;
}

.pw-forgot{
    margin-top: 5px;
}

.form-group{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}

#itsMe{
    margin-top: 40px;
}

.login-form{
    margin-top: 10px;
}