*{
    box-sizing: border-box;
}

body{
    margin: 20px 0 0 0;
    padding: 0;
    font-family: Myriad Pro, sans-serif;
}

a{
    text-decoration: none;
}

header{
    height: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #E4E4E4;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.iconPeople{
    width: 38px;
    height: 27px;
    background-image: url("../icons/people.png");
}

.guests{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-bar{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.meal{
    width: 250px;
    height: 250px;
    margin-right: 50px;
    box-shadow: 8px 8px black;
    border-radius: 10px;
}

.content{
    margin-left: 7%;
    margin-bottom: 50px;
}

h2{
    color: #A91B0D;
}

.amoutOfGuests{
    color: #A91B0D;
}

.search{
    width: 93%;
    height: 40px;
    background-color: #E4E4E4;
    border: none;
    border-radius: 10px;
    background-image: url("../icons/Icon-search.png");
    background-repeat: no-repeat;
    background-position: 1% 50%;
    font-size: 20px; 
}

#home{
    width: 43px;
    height: 33px;
}

#reconnect{
    width: 38px;
    height: 27px;
}

#profile{
    width: 34px;
    height: 34px;
}

.nav-item{
    width: 60px;
    height: 60px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.nav-title{
    margin: 0 0 0 0;
    color: black;
    font-size: 18px;
}

.filter{
    color: #A91B0D;
    text-decoration: underline;
    position: absolute;
    right: 7%;
    top: 100px;
}

.whiteSpace{
    height: 100px;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.centered{
    display: flex;
    justify-content: center;
    width: 93%;
}

.button{
    width: 265px;
    height: 50px;
    background-color: #A91B0D;
    color: #FDFFF5;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
    padding-top: 16px;
}

.chat{
    border-top: #E4E4E4 dashed 4px;
    width: 100%;
    padding: 30px 0 30px 8%;
    display: flex;
}

.chat-user{
    color: #A91B0D;
}

.detail-image{
    width: 100%;
    height: 300px;
    margin-top: -20px;
    background-color: #E4E4E4;
}

.meal-details{
    border-bottom: black solid 1px;
}

.bottom{
    position: absolute;
    bottom: 120px;
}

#signUp-button{
    width: 100%;
    margin-left: -7%;
}

.floating-icons{
    position: absolute;
    top: 30px;
    width: 94%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 30px;
    height: 30px;
}

.meal-avatar{
    position: absolute;
    top: 275px;
    right: 10%;
}

#edit-profile{
    background-color: #E4E4E4;
    color: #040301;
}

.active img{
    filter: invert(16%) sepia(42%) saturate(5466%) hue-rotate(353deg) brightness(93%) contrast(100%);
    /* filter: #A91B0D; */
}

.active p{
    color: #A91B0D;
}

.chat-reconnect{
    width: 30px;
    height: 30px;
}